@import "~components/blog/variables";

code {
  font-family: var(--type-code);
}

.sp-syntax-property,
.sp-syntax-tag,
.sp-syntax-string,
.sp-syntax-definition,
.hljs-property,
.hljs-tag,
.hljs-string,
.hljs-function {
  font-weight: var(--font-weight-medium);
}

.code-selector {
  color: var(--code-selector-color);
}

.code-attribute {
  color: var(--code-attribute-color);
}

.code-comment {
  color: var(--code-comment-color);
}

.code-keyword {
  color: var(--code-keyword-color);
}

.code-number {
  color: var(--code-number-color);
}

.code-selector-pseudo {
  color: var(--code-selector-pseudo-color);
}

pre {
  .hljs {
    .hljs-comment {
      color: var(--code-comment-color);
    }

    &.language-scss,
    &.language-css {
      .hljs-selector-tag,
      .hljs-selector-class {
        color: var(--code-selector-color);
      }

      .hljs-selector-id {
        color: var(--code-blue);
      }

      .hljs-attribute,
      .hljs-built_in {
        color: var(--code-attribute-color);
      }

      .hljs-number {
        color: var(--code-number-color);
      }

      .hljs-string {
        color: var(--code-yellow);
      }

      .hljs-variable {
        color: var(--code-orange);
      }

      .hljs-selector-pseudo {
        color: var(--code-selector-pseudo-color);
      }

      .hljs-keyword {
        color: var(--code-keyword-color);
      }

      .hljs-meta {
        color: var(--code-pink);
      }
    }

    &.language-tsx,
    &.language-jsx {
      .hljs-keyword,
      .hljs-attr {
        color: var(--code-keyword-color);
      }

      .hljs-function {
        color: var(--code-green);
      }

      .hljs-literal,
      .hljs-class,
      .hljs-built_in {
        color: var(--code-blue);
      }

      .hljs-params {
        color: var(--code-yellow);
      }

      .hljs-tag {
        color: var(--code-blue);
      }

      .hljs-name,
      .hljs-number {
        color: var(--code-number-color);
      }

      .hljs-string {
        color: var(--code-yellow);
      }
    }

    &.language-html,
    &.language-tsx > .xml {
      .hljs-tag {
        color: var(--code-blue);
      }

      .hljs-name {
        color: var(--code-pink);
      }

      .hljs-attr {
        color: var(--code-green);
      }

      .hljs-string {
        color: var(--code-yellow);
      }
    }
  }
}
