@import "~components/blog/variables";

.sp-syntax-property,
.sp-syntax-tag,
.sp-syntax-string,
.sp-syntax-definition,
.hljs-property,
.hljs-tag,
.hljs-string,
.hljs-function {
  font-weight: var(--font-weight-semibold);
}

.code-selector {
  color: $code-selector-color;
}

.code-attribute {
  color: $code-attribute-color;
}

.code-comment {
  color: $code-comment-color;
}

.code-keyword {
  color: $code-keyword-color;
}

.code-number {
  color: $code-number-color;
}

.code-selector-pseudo {
  color: $code-selector-pseudo-color;
}

pre {
  .hljs {
    .hljs-comment {
      color: $code-comment-color;
    }

    &.language-scss,
    &.language-css {
      .hljs-selector-tag,
      .hljs-selector-class {
        color: $code-selector-color;
      }

      .hljs-selector-id {
        color: $code-blue;
      }

      .hljs-attribute,
      .hljs-built_in {
        color: $code-attribute-color;
      }

      .hljs-number {
        color: $code-number-color;
      }

      .hljs-string {
        color: $code-yellow;
      }

      .hljs-variable {
        color: $code-orange;
      }

      .hljs-selector-pseudo {
        color: $code-selector-pseudo-color;
      }

      .hljs-keyword {
        color: $code-keyword-color;
      }

      .hljs-meta {
        color: $code-pink;
      }
    }

    &.language-tsx,
    &.language-jsx {
      .hljs-keyword,
      .hljs-attr {
        color: $code-keyword-color;
      }

      .hljs-function {
        color: $code-green;
      }

      .hljs-literal,
      .hljs-class,
      .hljs-built_in {
        color: $code-blue;
      }

      .hljs-params {
        color: $code-yellow;
      }

      .hljs-tag {
        color: $code-blue;
      }

      .hljs-name,
      .hljs-number {
        color: $code-number-color;
      }

      .hljs-string {
        color: $code-yellow;
      }
    }

    &.language-html,
    &.language-tsx > .xml {
      .hljs-tag {
        color: $code-blue;
      }

      .hljs-name {
        color: $code-pink;
      }

      .hljs-attr {
        color: $code-green;
      }

      .hljs-string {
        color: $code-yellow;
      }
    }
  }
}
