@import "~styles/modules/mixins.scss";

$task-list-checkmark-size: 2rem;

.task-list-item {
  input {
    position: relative;
    width: $task-list-checkmark-size;
    min-width: $task-list-checkmark-size;
    height: $task-list-checkmark-size;
    margin-right: calc(0.8rem - 0.25em);
    transform: translateY(10%);

    &::after {
      content: "";
      display: block;
      position: absolute;
      inset: 0;
      background-color: var(--bg-level-0);
      background-size: cover;
    }

    &:checked {
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.25 10.75L12 14.5L22 4.5' stroke='%23006ADC' stroke-width='2' stroke-linejoin='round'/%3E%3Cpath d='M22 12C22 17.5229 17.5229 22 12 22C6.47715 22 2 17.5229 2 12C2 6.47715 6.47715 2 12 2C13.1841 2 14.3201 2.2058 15.3742 2.58357' stroke='%235E5252' stroke-width='2' stroke-linejoin='round'/%3E%3C/svg%3E%0A"); // background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM10.5303 16.0303L17.5303 9.03033L16.4697 7.96967L10 14.4393L7.53033 11.9697L6.46967 13.0303L9.46967 16.0303C9.76256 16.3232 10.2374 16.3232 10.5303 16.0303Z' fill='%23006ADC'/%3E%3C/svg%3E%0A");

        @media (prefers-color-scheme: dark) {
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.25 10.75L12 14.5L22 4.5' stroke='%2352a9ff' stroke-width='2' stroke-linejoin='round'/%3E%3Cpath d='M22 12C22 17.5229 17.5229 22 12 22C6.47715 22 2 17.5229 2 12C2 6.47715 6.47715 2 12 2C13.1841 2 14.3201 2.2058 15.3742 2.58357' stroke='%23282a36' stroke-width='2' stroke-linejoin='round'/%3E%3C/svg%3E%0A"); // background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM10.5303 16.0303L17.5303 9.03033L16.4697 7.96967L10 14.4393L7.53033 11.9697L6.46967 13.0303L9.46967 16.0303C9.76256 16.3232 10.2374 16.3232 10.5303 16.0303Z' fill='%23282a36'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }
}

ul.contains-task-list {
  list-style-type: none;

  li + li {
    margin-top: 0.8rem;
  }
}

article {
  h1 {
    & + .markdown > p:first-of-type {
      &::first-letter {
        font-family: var(--type-serif);
        float: left;
        font-size: 6rem;
        line-height: 0.65;
        margin: 0.1em 0.15em 0.2em 0;
      }
    }
  }

  .codeTab {
    p {
      & + pre {
        margin-top: 1.2rem;
      }
    }
  }

  .codeTabs {
    ul {
      list-style-type: none;
      margin: 2rem 0 0 0;
    }

    &[filenames] {
      @for $i from 1 through 6 {
        &[data-activetab="#{$i}"] {
          .codeTab:not(:nth-of-type(#{$i})) {
            display: none;
          }
        }
      }
    }

    .codeTab {
      flex: 1;

      & > div {
        display: none;
      }
    }
  }
}

.markdown {
  & > ul:not(.contains-task-list) {
    list-style-type: disc;
    padding-left: 16px !important;
  }
}
