@import "~styles/modules/mixins.scss";

$task-list-checkmark-size: 1.6rem;

.task-list-item {
  input {
    position: relative;
    width: $task-list-checkmark-size;
    min-width: $task-list-checkmark-size;
    height: $task-list-checkmark-size;
    margin-right: calc(0.8rem - 0.25em);

    &::after {
      content: "";
      display: block;
      position: absolute;
      inset: 0;
      background-color: var(--white);
      background-size: cover;
    }

    &:checked {
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2' y='2' width='20' height='20' rx='2' fill='%23E1F0FF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.4627 6.91928L9.54193 18.2573L4.53473 13.2501L5.75007 12.0348L9.45821 15.7429L18.1692 5.78748L19.4627 6.91928Z' fill='%23006ADC'/%3E%3C/svg%3E%0A");
      }
    }
  }
}

ul.contains-task-list {
  li + li {
    margin-top: 0.8rem;
  }
}

article {
  h1 {
    & + .markdown > p:first-of-type {
      &::first-letter {
        font-family: var(--type-serif);
        float: left;
        font-size: 6rem;
        line-height: 0.65;
        margin: 0.1em 0.15em 0.2em 0;
      }
    }
  }

  .codeTab {
    p {
      & + pre {
        margin-top: 1.2rem;
      }
    }
  }

  .codeTabs {
    ul {
      margin: 2rem 0 0 0;
    }

    &[filenames] {
      @for $i from 1 through 3 {
        &[data-activetab="#{$i}"] {
          .codeTab:not(:nth-of-type(#{$i})) {
            display: none;
          }
        }
      }
    }

    .codeTab {
      flex: 1;

      & > div {
        display: none;
      }
    }
  }
}
