@import "~components/blog/variables";
@import "~styles/modules/mixins";

.sp-wrapper {
  --sp-colors-surface3: rgba(0, 0, 0, 0.4) !important;
  --sp-layout-height: clamp(300px, 70vh, 700px) !important;
  --sp-colors-bg-default: var(--sp-colors-surface1);
  --sp-colors-fg-inactive: var(--sp-colors-surface2);
  --sp-colors-bg-active: var(--sp-colors-surface3);
}

.cm-scroller {
  font-family: var(--type-code) !important;
  font-size: 1.2em !important;
}

.sp-tabs {
  border-bottom-color: var(--sp-colors-surface1) !important;
  border-radius: inherit;
  background-color: inherit !important;
}

.sp-layout {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-right-color: var(--sp-colors-surface2) !important;
  border-top-color: var(--sp-colors-surface1) !important;
  border-left-color: var(--sp-colors-surface1) !important;
  border-bottom-color: var(--sp-colors-surface1) !important;

  & + div {
    background-color: #21222c;
    border-color: #21222c;
  }

  & > .sp-stack {
    @include breakpoint(0, 768) {
      height: var(--sp-layout-height) !important;
    }
  }
}

.cm-matchingBracket .sp-syntax-punctuation {
  color: $code-pink;
}

.sp-code-editor > div {
  padding-bottom: var(--sp-expand-height) !important;
}

.sp-tab-button {
  cursor: pointer;
  border-bottom: 1px solid transparent !important;

  &[data-active="true"] {
    border-bottom-color: var(--sp-colors-accent) !important;
  }

  &:hover {
    background: var(--sp-colors-surface3);
  }
}

.sp-cube-wrapper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  right: initial !important;
  bottom: initial !important;
}

.cm-gutter {
  opacity: 0.4 !important;
}
