@import "~styles/modules/mixins.scss";
@import "~styles/modules/placeholders.scss";

h1 {
  line-height: 140%;
  color: var(--text-contrast-10);
  font-family: var(--type-paragraph);

  @include breakpoint(0, 1199.98) {
    font-size: 3.2rem;
  }

  @include breakpoint(desktop) {
    font-size: 4rem;
  }
}

h3 {
  font-weight: var(--font-weight-medium);
}

a {
  cursor: pointer;
  text-decoration: none;
  color: currentColor;

  @include removeFocusOutline;

  svg path {
    fill: currentColor;
  }
}

.smaller {
  font-size: 0.8em;
}

abbr[title] {
  --underline-hover-color: currentColor;
  position: relative;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0.1em;
    border-top: 0.1em dotted currentColor;
  }

  @include onHoverAndFocus {
    &::after {
      border-color: var(--underline-hover-color);
    }
  }
}

.italic {
  font-style: italic;
  font-family: var(--type-italic);
  font-weight: var(--font-weight-regular);
}

i {
  font-style: italic;
  font-family: var(--type-italic);
  font-weight: var(--font-weight-regular);
  font-size: 1.2em;
}

.regular {
  font-weight: var(--font-weight-regular);
}

.medium {
  font-weight: var(--font-weight-medium);
}

.semibold {
  font-weight: var(--font-weight-semibold);
}

.bold {
  font-weight: var(--font-weight-bold);
}

p,
li,
label {
  font-family: var(--type-paragraph);
  font-weight: var(--font-weight-regular);
  font-size: 1.8rem;
  line-height: 170%;
  color: var(--text-contrast-10);

  a {
    color: var(--primary);
    font-weight: var(--font-weight-medium);
  }
}

a {
  font-family: var(--type-paragraph);
  font-weight: var(--font-weight-regular);
}

dt,
dd {
  font-family: var(--type-paragraph);
}

dt {
  font-weight: var(--font-weight-medium);
}

dd {
  font-weight: var(--font-weight-regular);
}
