@import "~components/snippets/variables.scss";
@import "~styles/modules/mixins.scss";
@import "~styles/modules/placeholders.scss";

.markdown {
  code {
    font-family: var(--type-code);
    line-height: 160%;

    .comment {
      color: var(--myqr-gray-400);
      display: block;
      margin-bottom: 1.2rem;
    }

    .highlighted {
      color: var(--myqr-primary);
    }
  }

  pre {
    background-color: var(--code-bg-color);

    code {
      color: var(--code-color);
    }
  }

  table {
    width: 100%;
    max-width: max-content;
    font-family: var(--type-paragraph);
    font-size: 1.6rem;

    thead tr,
    tbody tr:not(:last-of-type) {
      border-bottom: 1px solid var(--bg-level-1);
    }

    th,
    td {
      padding: 0.8rem;

      &:not(:last-of-type) {
        border-right: 1px solid var(--bg-level-1);
      }
    }

    tr:nth-of-type(even) {
      background-color: var(--bg-level-1);
    }
  }

  p + pre {
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
  }

  a {
    @extend %link-with-background;
  }
}
