@import "~styles/modules/mixins.scss";
@import "~styles/modules/placeholders.scss";

.markdown {
  --code-blue: #8ae8fc;
  --code-pink: #ff79c6;
  --code-yellow: #f1fa8c;
  --code-green: #4ff67a;
  --code-purple: #b58dee;
  --code-orange: #ffb86c;
  --code-comment: #6272a4;

  code {
    font-family: var(--type-code);
    line-height: 160%;

    .comment {
      color: var(--myqr-gray-400);
      display: block;
      margin-bottom: 1.2rem;
    }

    .highlighted {
      color: var(--myqr-primary);
    }
  }

  pre {
    background-color: var(--code-bg-color);

    code {
      color: var(--code-color);
    }
  }

  table {
    width: 100%;
    max-width: max-content;
    font-family: var(--type-paragraph);
    font-size: 1.6rem;

    thead tr,
    tbody tr:not(:last-of-type) {
      border-bottom: 1px solid var(--light-gray);
    }

    th,
    td {
      padding: 0.8rem;

      &:not(:last-of-type) {
        border-right: 1px solid var(--light-gray);
      }
    }

    tr:nth-of-type(even) {
      background-color: var(--light-gray);
    }
  }

  p + pre {
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
  }

  a {
    color: var(--blue);
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 25%,
      var(--blue-bg) 25%
    );
    background-repeat: no-repeat;
    background-size: 100% 200%;
    background-position: 0% 0%;
    transition: all 150ms ease;

    @include onHoverAndFocus {
      background-position: center bottom;
    }
  }
}

.codeBlockNav {
  background-color: #21222c;
  border-radius: 0.4rem 0.4rem 0 0;
  display: flex;
  margin-top: 2rem;

  & > div {
    background-color: #343746;
    border-radius: 0.4rem 0.4rem 0 0;
    padding: 0.4rem 1.6rem;
    font-size: 1.4rem;
    color: #f8f8f2;
  }
}
