@import "~components/snippets/variables.scss";
@import "~styles/modules/mixins.scss";
@import "~styles/modules/placeholders.scss";

.markdown {
  code {
    font-family: var(--type-code);
    line-height: 160%;

    .comment {
      color: var(--myqr-gray-400);
      display: block;
      margin-bottom: 1.2rem;
    }

    .highlighted {
      color: var(--myqr-primary);
    }
  }

  pre {
    background-color: var(--code-bg-color);

    code {
      color: var(--code-color);
    }
  }

  table {
    width: 100%;
    max-width: max-content;
    font-family: var(--type-paragraph);
    font-size: 1.6rem;

    thead tr,
    tbody tr:not(:last-of-type) {
      border-bottom: 1px solid var(--light-gray);
    }

    th,
    td {
      padding: 0.8rem;

      &:not(:last-of-type) {
        border-right: 1px solid var(--light-gray);
      }
    }

    tr:nth-of-type(even) {
      background-color: var(--light-gray);
    }
  }

  p + pre {
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
  }

  a {
    @extend %link-with-background;
  }
}

.codeBlockNav {
  background-color: #21222c;
  border-radius: 0.4rem 0.4rem 0 0;
  display: flex;
  margin-top: 2rem;
  gap: 1px;

  & > div,
  button {
    background-color: #343746;
    border-radius: inherit;
    padding: 0.4rem 1.6rem;
    font-size: 1.4rem;
    color: #f8f8f2;
    border-width: 0;
  }

  & > li {
    border-radius: inherit;
  }

  button {
    cursor: pointer;
    font-family: var(--type-code);
    line-height: 160%;
    @include removeFocusOutline;

    &[aria-selected="true"] {
      border-bottom: 1px solid $code-blue;
      color: $code-blue;
    }

    @include onKeyboardFocus {
      background-color: var(--blue-bg);
      color: var(--blue);
    }
  }
}
