@import "~styles/modules/mixins.scss";

// Entries

.entryWrapper {
  display: flex;
  gap: var(--content-padding);
  margin-top: var(--grid-gutter);
  padding-left: var(--content-padding);
}

.entryProfilePicture {
  @include breakpoint(0, 999.99) {
    width: 32px;
    height: 32px;
  }

  @include breakpoint(1000) {
    width: 64px;
    height: 64px;
  }
}

.entry {
  border: 1px solid var(--card-border-color);
  border-radius: var(--card-border-radius);
  background-color: var(--card-bg-color);
  flex: 1;
  position: relative;

  img {
    border-radius: 4px;
  }

  figcaption {
    color: var(--text-light);
    margin-top: 8px;
  }
}

.entryHeader {
  background-color: #f9fbfc;
  border-bottom: 1px solid var(--card-border-color);
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 4px var(--content-padding);

  h2,
  time {
    color: var(--text-light);
    font-size: 1.6rem;
    font-weight: var(--font-weight-semibold);
  }
}

.entryContent {
  padding: var(--content-padding);

  blockquote {
    line-height: 140%;
    padding: clamp(24px, 4rem, 40px);
    margin: 0;
    position: relative;

    &::before,
    &::after {
      font-family: "EB Garamond", serif;
      font-weight: 600;
      color: var(--link);
      font-size: 4rem;
      position: absolute;
      opacity: 0.25;
    }

    &::before {
      content: "“";
      top: 16px;
      left: 16px;
    }

    &::after {
      content: "”";
      right: 16px;
      bottom: 16px;
    }
  }

  cite {
    display: block;
    margin: 8px 0 0 0;
    font-weight: var(--font-weight-bold);
    font-size: 1.4rem;
    font-style: normal;
    line-height: 140%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}

.snapshotEntry {
  max-width: max-content;
}

.statsEntry {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 40rem;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    & + li {
      margin-top: 8px;
    }
  }

  svg {
    height: auto;

    @include breakpoint(0, 999.99) {
      width: 24px;
    }

    @include breakpoint(1000) {
      width: 32px;
    }
  }
}

.statLabel {
  font-weight: var(--font-weight-bold);
  font-size: 1.4rem;
  line-height: 140%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    #f3f6f8;
  border: 1px solid var(--card-border-color);
  border-radius: 20px;

  @include breakpoint(0, 999.99) {
    padding: 2px 8px;
  }

  @include breakpoint(1000) {
    padding: 4px 16px;
  }
}
