@import "~styles/modules/mixins.scss";
@import "~styles/modules/placeholders.scss";

.Link {
  svg {
    width: 1em;
    height: auto;
    margin-top: -0.2em;
  }

  // We always want the last word to be on the same line as the icon, unless there's only one word
  span:last-of-type:not(:first-of-type) {
    white-space: nowrap;
  }

  @include onFocus {
    color: var(--inline-link);
  }
}

.withUnderline {
  --underline-color: currentColor;
  text-decoration: underline;
  text-underline-offset: var(--primary-underline-offset);
  text-decoration-thickness: var(--primary-underline-width);

  @include onHoverAndFocus {
    &::after {
      opacity: 1;
    }
  }
}
