@import "~styles/modules/mixins.scss";
@import "~styles/modules/placeholders.scss";

.fun {
  --content-padding: 24px;
  --card-bg-color: var(--white);
  --card-border-color: rgba(94, 82, 82, 0.1);
  --card-border-radius: 2px;
  --grid-gutter: 32px;

  // cursor: url("../../assets/diary/images/cursor.svg"), auto;

  color: var(--text);
  padding: var(--content-padding-top)
    calc((100vw - #{var(--max-text-width)}) / 2)
    calc(var(--nav-button-height) + (var(--nav-button-margin) * 2))
    calc((100vw - #{var(--max-text-width)}) / 2);
  // Also theme-color in index.html
  background-color: #f8f3f4;
  min-height: 100%;
  font-family: var(--type-code);

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: var(--grid-gutter);
  grid-row-gap: var(--grid-gutter);

  @include breakpoint(1200) {
    --max-text-width: 120rem;
  }

  p {
    font-size: 1.6rem;
    line-height: 140%;
  }

  h1 {
    color: var(--link);
    font-size: 2rem;
  }
}

.main {
  grid-column: 1 / 9;
  grid-row: 1;
}

#demoCanvas {
  margin: 0 auto;
}
