@import "~styles/modules/mixins.scss";
@import "~styles/modules/placeholders.scss";

.fun {
  --card-bg-color: var(--white);
  --card-border-color: rgba(94, 82, 82, 0.1);
  --card-border-radius: 2px;

  color: var(--text);
  padding: var(--content-padding-top)
    calc((100vw - #{var(--max-text-width)}) / 2)
    calc(var(--nav-button-height) + (var(--nav-button-margin) * 2))
    calc((100vw - #{var(--max-text-width)}) / 2);
  // Also theme-color in index.html
  background-color: #f8f3f4;
  min-height: 100%;
  font-family: var(--type-code);

  @include breakpoint(0, 1199.99) {
    --content-padding: 8px;
    --grid-gutter: 16px;
  }

  @include breakpoint(1000) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: var(--grid-gutter);
    grid-row-gap: var(--grid-gutter);
  }

  @include breakpoint(1200) {
    --max-text-width: 120rem;
    --content-padding: 24px;
    --grid-gutter: 32px;
  }

  p {
    font-size: 1.6rem;
    line-height: 140%;

    a {
      text-decoration: underline;

      @include onHoverAndFocus {
        color: var(--link);
      }
    }
  }

  h1 {
    color: var(--link);
  }

  h1,
  h2 {
    font-size: clamp(18px, 5vw, 2rem);
  }

  a {
    text-underline-offset: 0.15em;

    @include onHoverAndFocus {
      text-decoration: underline;
    }
  }
}

.main {
  grid-column: 1 / 9;
  grid-row: 1;
}

.sparklesContainer {
  z-index: 40;
  pointer-events: none;
  position: fixed;
  inset: 0;

  & > div {
    position: relative;
  }
}

.diaryCredits {
  margin-top: 4rem;
  font-size: 1.4rem !important;
  color: var(--text-light);
  text-align: right;
}
