@import url("https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@400;500&display=swap");
@import "~styles/modules/variables.scss";
@import "~styles/modules/mixins.scss";
@import "~styles/modules/placeholders.scss";

.fun {
  --type-code: "Spline Sans Mono", "Monaco", Courier, monospace;
  --card-bg-color: var(--white);
  --card-border-color: rgba(94, 82, 82, 0.1);
  --card-border-radius: 2px;
  --text-contrast-10: $text-contrast-10-light;
  --type-paragraph: var(--type-code);

  --primary: #{$primary-light};

  color: $text-contrast-10-light;
  padding: var(--content-padding-top)
    calc((100vw - #{var(--max-text-width)}) / 2)
    calc(var(--nav-button-height) + (var(--nav-button-margin) * 2))
    calc((100vw - #{var(--max-text-width)}) / 2);
  // Also theme-color in index.html
  background-color: #f8f3f4;
  min-height: 100%;
  font-family: var(--type-paragraph);

  @include breakpoint(0, 1199.99) {
    --content-padding: 8px;
    --grid-gutter: 16px;
  }

  @include breakpoint(1000) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: var(--grid-gutter);
    grid-row-gap: var(--grid-gutter);
  }

  @include breakpoint(desktop) {
    --max-text-width: min(120rem, 95vw);
    --content-padding: 24px;
    --grid-gutter: 32px;
  }

  ::-moz-selection {
    /* Firefox */
    background: #f0c9de;
  }

  ::selection {
    background: #f0c9de;
  }

  p,
  figcaption {
    font-size: 1.4rem;
    line-height: 140%;
  }

  p,
  dd {
    a {
      color: var(--primary);
      text-decoration: underline;
    }
  }

  h1 {
    color: var(--primary);
  }

  h1,
  h2 {
    font-weight: var(--font-weight-medium);
    font-size: clamp(16px, 4vw, 1.6rem);

    a {
      font-weight: inherit;
    }
  }

  a {
    text-underline-offset: 0.15em;

    @include onHoverAndFocus {
      text-decoration: underline;
    }
  }
}

.main {
  grid-column: 1 / 9;
  grid-row: 1;
}

.sparklesContainer {
  z-index: 40;
  pointer-events: none;
  position: fixed;
  inset: 0;

  & > div {
    position: relative;
  }
}

.diaryCredits {
  margin-top: 4rem;
  color: $text-contrast-8-light;
  text-align: right;

  @media (hover: none) {
    display: none;
  }
}
