@import "~components/snippets/variables.scss";
@import "~styles/modules/mixins.scss";

$icon-size: 2rem;
$button-padding: 0.4rem;
$button-spacing: 0.8rem;
$button-size: calc($icon-size + (#{$button-padding} * 2));

.snippetCopyToClipboardButton {
  position: absolute;
  right: $button-spacing;
  top: $button-spacing;
  padding: $button-padding;
  opacity: 0;
  transition: all 200ms ease-in;

  // background-color: rgba(255, 255, 255, 0.025);
  background-color: var(--code-bg-color);
  border: 1px solid $code-comment;
  border-radius: 0.4rem;
  color: $code-comment;
  cursor: pointer;

  svg {
    width: $icon-size;
    height: auto;

    path {
      &[data-layer="clipboard"] {
        stroke: currentColor;
      }

      &[data-layer="clipboard-fill"] {
        fill: currentColor;
      }
    }
  }

  @include onHoverAndFocus {
    opacity: 1;
    // background-color: rgba(255, 255, 255, 0.05);
    color: var(--code-color);
    border-color: var(--code-color);
  }

  @include removeFocusOutline;

  &:focus-visible {
    box-shadow: 0 0 0 1px var(--code-bg-color), 0 0 0 2px $code-comment;
  }
}

p.snippetCopyToClipboardButtonLabel {
  position: absolute;
  margin: 0;
  top: calc(0.8rem + (#{$button-size} / 2));
  right: calc(0.8rem + #{$button-size} + #{$button-spacing});
  transform: translate(0, -50%);
  font-size: 1.2rem !important;
  font-weight: var(--font-weight-medium);
  background-color: #343746;
  color: var(--white);
  padding: 0.4rem 0.8rem;
  border-radius: 0.2rem;
}

.snippetCopyToClipboardButtonWrapper {
  position: sticky;
  inset: 0;
  z-index: 10;
}