$duration: 1000;

@function randomNum($min: 0, $max: 80) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));

  @return $randomNum;
}

.dot {
  pointer-events: none;
  animation-name: moveCircle;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.17, 0.67, 0.4, 1.31);

  position: fixed;
  z-index: 45;
  left: 0;
  top: 0;
  margin-left: calc(#{var(--prev-mouse-position-left)} * 1px);
  margin-top: calc(#{var(--prev-mouse-position-top)} * 1px);
  //   transform: scale(#{var(--dot-scale)});
  //   transition-duration: .5s;

  transform: scale(#{var(--dot-scale)});

  & > div {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.58737 8.23597L11.1849 3.00376C11.5183 2.33208 12.4817 2.33208 12.8151 3.00376L15.4126 8.23597L21.2215 9.08017C21.9668 9.18848 22.2638 10.0994 21.7243 10.6219L17.5217 14.6918L18.5135 20.4414C18.6409 21.1798 17.8614 21.7428 17.1945 21.3941L12 18.678L6.80547 21.3941C6.1386 21.7428 5.35909 21.1798 5.48645 20.4414L6.47825 14.6918L2.27575 10.6219C1.73617 10.0994 2.03322 9.18848 2.77852 9.08017L8.58737 8.23597Z' fill='url(%23paint0_linear_341_635)' stroke='url(%23paint1_linear_341_635)' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_341_635' x1='2.39474' y1='2.5' x2='23.9171' y2='5.00079' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FBABC8'/%3E%3Cstop offset='1' stop-color='%23DABCEC'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_341_635' x1='2.39474' y1='2.5' x2='23.9171' y2='5.00079' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FBABC8'/%3E%3Cstop offset='1' stop-color='%23DABCEC'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: cover;
    width: 8px;
    height: 8px;
  }

  @for $i from 1 through 20 {
    &:nth-of-type(#{$i}) {
      --random-number: #{randomNum()};
      animation-delay: calc($i * 200ms);
      //   animation-duration: calc($i * 500ms);
      //   transform: translate(
      //       calc(#{var(--random-number)} * 1px),
      //       calc(#{var(--random-number)} * 1px),
      //       0
      //     ),
      //     rotate(#{randomNum(0, 360)}deg);
    }
  }
}

@keyframes moveCircle {
  0% {
    transform: scale(#{var(--dot-scale)});
    //   translateX(calc(var(--prev-mouse-position-left) * 1px))
    //   translateY(calc(var(--prev-mouse-position-top) * 1px));
    margin-left: calc(#{var(--prev-mouse-position-left)} * 1px);
    margin-top: calc(#{var(--prev-mouse-position-top)} * 1px);
    opacity: 0;
  }
  5% {
    transform: scale(#{var(--dot-scale)});
    margin-left: calc(#{var(--prev-mouse-position-left)} * 1px);
    margin-top: calc(#{var(--prev-mouse-position-top)} * 1px);
    opacity: 1;
  }
  40% {
    transform: scale(1);
    margin-left: calc(#{var(--mouse-position-left)} * 1px);
    margin-top: calc(#{var(--mouse-position-top)} * 1px);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    margin-left: calc(#{var(--mouse-position-left)} * 1px);
    margin-top: calc(#{var(--mouse-position-top)} * 1px);
    opacity: 1;
  }
  100% {
    transform: scale(0.4);
    margin-left: calc(#{var(--mouse-position-left)} * 1px);
    margin-top: calc((#{var(--mouse-position-top)} * 1px) + 80px);
    opacity: 0;
  }
}
