@import "~styles/modules/mixins.scss";
@import "~styles/modules/variables.scss";
@import "~styles/modules/placeholders.scss";

%footnote-link {
  position: relative;
  font-size: 1.6rem;

  &::after {
    content: "";
    position: absolute;
    opacity: 0;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0.07em;
    background-image: linear-gradient(
      to right,
      currentColor 0%,
      currentColor 100%
    );
  }

  @include onHoverAndFocus {
    color: $link-hover-gradient;
    background: $link-hover-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &::after {
      opacity: 1 !important;
      background-image: $link-hover-gradient;
    }
  }

  @include onKeyboardFocus {
    outline: 3px solid var(--link) !important;
  }
}

.footnoteRef {
  color: var(--link);
  font-family: var(--type-paragraph);
  font-style: initial;
  font-size: 0.4em;
  top: -1.25em;
}

.footnoteReturnLink {
  color: var(--link);
  font-size: 0.8em;

  &::after {
    opacity: 0.5;
  }
}

.footnotes {
  list-style-position: inside;
  margin: 0;
}

.footnote {
  font-family: var(--type-header);
  color: var(--text-contrast-10);
  line-height: 140%;

  &::marker {
    font-size: 0.8em;
    font-weight: var(--font-weight-medium);
    color: var(--text-contrast-8);
  }

  a:not(.footnoteReturnLink) {
    color: var(--text-contrast-8);

    @extend %footnote-link;

    &::after {
      opacity: 0.4;
    }
  }
}

.footnoteRef,
.footnote {
  a {
    @extend %footnote-link;
  }
}
