@import "~styles/modules/mixins.scss";
@import "~styles/modules/placeholders.scss";

$navButton-transition: all 200ms ease-in;

.navButtons {
  --nav-buttons-width: calc(100vw - (24px * 2));
  --nav-buttons-gap: 0.8rem;
  --nav-buttons-padding: 8px;
  --nav-button-width: clamp(
    ((320px - (16px * 2)) - (var(--nav-buttons-gap) * 4)) / 5,
    ((100vw - (24px * 2)) - (var(--nav-buttons-gap) * 4)) / 5,
    12rem
  );
  --nav-button-radius: 4px;

  position: fixed;
  z-index: 50;
  margin: 0;
  display: flex;
  list-style-type: none;
  padding-left: 0;
  gap: var(--nav-buttons-gap);
  transition: all 250ms ease;
  bottom: var(--nav-button-margin);
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--light-gray);
  padding: var(--nav-buttons-padding);
  border-radius: var(--nav-button-radius);
  box-shadow: 37px 64px 45px rgba(17, 62, 99, 0.02),
    4px 7px 18px rgba(17, 62, 99, 0.08), 0px 0px 0px rgba(17, 62, 99, 0.08);
}

.navButtonsHidden {
  opacity: 0;
  transform: translate(-50%, 100%);
  transition-duration: 600ms;

  &:focus-within {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.navButtonIndicator {
  content: "";
  display: block;
  position: absolute;
  width: var(--nav-button-width);
  height: var(--nav-button-height);
  border-radius: var(--nav-button-radius);
  background-color: var(--text);
  z-index: 0;
  transition: $navButton-transition;

  &[data-active-btn-index="-1"] {
    opacity: 0;
  }

  &[data-active-btn-index="0"] {
    transform: translateX(0);
  }

  &[data-active-btn-index="2"] {
    background: var(--fun-gradient);
  }

  @for $i from 1 through 4 {
    &[data-active-btn-index="#{$i}"] {
      transform: translateX(
        calc(
          (#{var(--nav-button-width)} * #{$i}) +
            (#{var(--nav-buttons-gap)} * #{$i})
        )
      );
    }
  }
}

.navButton {
  position: relative;
  z-index: 1;
  flex: 1;

  &:nth-of-type(3) {
    .navButtonLink[aria-current="page"] {
      cursor: initial !important;
    }
  }
}

.navButtonLabel {
  font-family: var(--type-paragraph);
  font-weight: var(--font-weight-medium);
  margin: 0;

  @include breakpoint(0, 499.99) {
    font-size: 2.6vw;
  }

  @include breakpoint(500) {
    font-size: 1.2rem;
  }
}

.navButtonLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  width: var(--nav-button-width);
  min-height: var(--nav-button-height);
  color: var(--text);
  border-radius: var(--nav-button-radius);
  transition: $navButton-transition;
  padding: var(--nav-buttons-padding);

  svg {
    width: 2rem;
    height: auto;

    path {
      fill: unset;
    }
  }

  &[aria-current="page"] {
    color: var(--light-gray);
    cursor: initial;

    & > .navButtonLabel {
      color: var(--light-gray);
    }
  }

  &[aria-current="false"] {
    & > .navButtonLabel {
      color: var(--text);
    }
  }

  &:focus-visible {
    box-shadow: 0 0 0 1px var(--light-gray), 0 0 0 3px var(--text);
  }
}
