@import "~styles/modules/variables.scss";
@import "~styles/modules/mixins.scss";

$navButton-transition: all 200ms ease-in;

.buttonsContainer {
  --nav-buttons-gap: 0.8rem;
  --nav-buttons-padding: 8px;
  --nav-button-radius: 4px;

  position: fixed;
  z-index: 50;
  padding: var(--nav-buttons-padding);
  background-color: var(--bg-level-0);

  // Hide the indicator if no item is selected
  &[data-active-btn-index="-1"] {
    .activeButtonIndicator {
      opacity: 0;
    }
  }

  // "Blog" page has special hover effects
  &[data-active-btn-index="3"] {
    .activeButtonIndicator {
      background: var(--fun-gradient);
    }
  }

  // Force light mode on /work and /fun
  &.light {
    @media (prefers-color-scheme: dark) {
      --primary: #{$primary-light};
      --bg-level-0: #{$bg-level-0-light};
      --text-contrast-10: #{$text-contrast-10-light};
    }
  }
}

.navButtons {
  display: flex;
  gap: var(--nav-buttons-gap);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// Hide the navigation on scroll, unless focus is active
.hidden {
  opacity: 0;
  transform: translate(-50%, 100%);
  transition-duration: 600ms;

  &:focus-within {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

// Style the indicator
.activeButtonIndicator {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  width: var(--nav-button-width);
  height: var(--nav-button-height);
  border-radius: var(--nav-button-radius);
  background-color: var(--text-contrast-10);
  transition: $navButton-transition;
}

.listItem {
  position: relative;
  z-index: 1;

  // Focus styles
  &:not(.blogListItem) {
    .link[aria-current="page"] {
      &:focus-visible {
        box-shadow: 0 0 0 1px var(--bg-level-0),
          0 0 0 3px var(--text-contrast-10);
      }
    }
  }

  // Focus and hover styles for "Blog" page
  &.blogListItem {
    .link {
      // If the user is on the Blog page, we don't need to show the cute cursor on hover
      &[aria-current="page"] {
        cursor: initial !important;
      }

      &[aria-current="false"] {
        @include onHoverAndFocus {
          color: var(--primary);
        }
      }
    }
  }
}

.label {
  margin: 0;
  color: inherit;
  font-weight: var(--font-weight-medium);
  transition: inherit;

  @include breakpoint(0, 499.99) {
    font-size: 2.6vw;
  }

  @include breakpoint(500) {
    font-size: 1.2rem;
  }
}

.link {
  width: var(--nav-button-width);
  min-height: var(--nav-button-height);
  padding: var(--nav-buttons-padding);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;

  color: var(--text-contrast-10);
  border-radius: var(--nav-button-radius);
  transition: all 100ms ease-in;

  &[aria-current="page"] {
    color: var(--bg-level-0);
    cursor: initial;
  }

  &[aria-current="false"] {
    @include onHoverAndFocus {
      color: var(--primary);
    }
  }

  &:focus-visible {
    box-shadow: 0 0 0 1px var(--bg-level-0), 0 0 0 3px var(--primary);
  }

  p {
    transition: inherit;
  }

  svg {
    transition: inherit;
    width: 2rem;
    height: auto;

    path {
      fill: unset;
    }
  }
}

.buttonsContainer.stacked {
  --nav-button-width: 4rem;

  top: 0;
  left: 0;
  height: 100vh;
  border-right: 1px solid rgba(var(--text-contrast-8-rgb), 0.1);

  display: flex;
  flex-direction: column;
  justify-content: center;

  // If the first link is active, move the indicator to the start
  &[data-active-btn-index="0"] {
    .activeButtonIndicator {
      transform: translateY(0);
    }
  }

  // For other links, get the indicator position based on index and spacing
  @for $i from 1 through 4 {
    &[data-active-btn-index="#{$i}"] {
      .activeButtonIndicator {
        transform: translateY(
          calc(
            (#{var(--nav-button-height)} * #{$i}) +
              (#{var(--nav-buttons-gap)} * #{$i})
          )
        );
      }
    }
  }

  .navButtons {
    flex-direction: column;
  }
}

.buttonsContainer.inline {
  --nav-button-width: clamp(
    ((320px - (16px * 2)) - (var(--nav-buttons-gap) * 3)) / 4,
    ((100vw - (24px * 2)) - (var(--nav-buttons-gap) * 3)) / 4,
    12rem
  );
  transition: all 250ms ease;

  left: 50%;
  bottom: var(--nav-button-margin);
  transform: translate(-50%, 0);
  border-radius: var(--nav-button-radius);
  box-shadow: 37px 64px 45px rgba(17, 62, 99, 0.02),
    4px 7px 18px rgba(17, 62, 99, 0.08), 0px 0px 0px rgba(17, 62, 99, 0.08);

  // Top and bottom borders
  &::before,
  &::after {
    position: absolute;
    height: 1.5px;
    width: 100%;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0),
      rgba(255, 255, 255, 0.3) 25%,
      rgba(255, 255, 255, 0.15) 75%,
      rgba(0, 0, 0, 0)
    );
    opacity: 0.5;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  .listItem {
    flex: 1;
  }

  // If the first link is active, move the indicator to the start
  &[data-active-btn-index="0"] {
    .activeButtonIndicator {
      transform: translateX(0);
    }
  }

  // For other links, get the indicator position based on index and spacing
  @for $i from 1 through 4 {
    &[data-active-btn-index="#{$i}"] {
      .activeButtonIndicator {
        transform: translateX(
          calc(
            (#{var(--nav-button-width)} * #{$i}) +
              (#{var(--nav-buttons-gap)} * #{$i})
          )
        );
      }
    }
  }
}

.tooltip {
  position: absolute;
  left: calc(100% + 6px);
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--text-contrast-10);
  padding: 0 4px;
  border-radius: 2px;

  p {
    color: var(--bg-level-0);
    font-size: 1.4rem;
    font-weight: var(--font-weight-medium);
    margin: 0;
  }
}
