@import "~styles/modules/mixins.scss";

.header {
  padding-bottom: var(--content-padding-top);
  margin-bottom: var(--content-padding-top);
  position: relative;

  h1 {
    padding-top: var(--content-padding-top);
    padding-bottom: calc(var(--content-padding-top) * 0.3);
  }

  &::after {
    content: "";
    display: block;
    width: 100vw;
    height: 2px;
    background-color: var(--bg-level-1);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.titleOrnament {
  color: var(--primary);
  font-size: 0.6em;
  // line-height: 1.8em;
  margin-right: 0.5em;
}

.tags {
  p,
  ul {
    display: inline;
  }
}

$breadcrumb-gap: 4px;

.breadcrumbs {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: $breadcrumb-gap;

  li {
    font-size: 1.6rem;

    &:not(:first-of-type) {
      &::before {
        content: "/";
        margin-right: $breadcrumb-gap;
      }
    }
  }

  a {
    font-weight: var(--font-weight-regular);
    color: var(--text-contrast-8);
    text-decoration: underline;
    text-underline-offset: var(--primary-underline-offset);
    text-decoration-color: rgba(var(--text-contrast-8-rgb), 0.4);
    text-decoration-thickness: 0.08em;

    @include onHoverAndFocus {
      color: var(--primary);
      text-decoration-color: var(--primary);
    }
  }
}
