@import "~styles/modules/mixins.scss";
@import "~styles/modules/variables.scss";
@import "~styles/modules/placeholders.scss";

.blogPostLink {
  @extend %link-with-icon;

  .blogPostTitle {
    text-decoration: underline;
    text-decoration-thickness: 0.06em;
    text-underline-offset: 0.25em;

    // We always want the last word to be on the same line as the arrow, unless there's only one word
    span:last-of-type:not(:first-of-type) {
      white-space: nowrap;
    }
  }

  @include onHoverAndFocus {
    .blogPostTitle {
      color: var(--primary);
      background: $primary-hover-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.blogArticleTags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  flex: 1;
}

.blogArticleMeta {
  margin-top: 4rem;

  time {
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.15em;
    color: var(--text-contrast-8);
    font-family: var(--type-header);
    font-weight: var(--font-weight-semibold);
  }
}

.blogPostTitle {
  font-family: var(--type-paragraph);
  line-height: 160%;
  font-size: 2.2rem;
}
