@import "~styles/modules/mixins.scss";
@import "~styles/modules/placeholders.scss";

.blogPostLink {
  @extend %link-with-icon;

  .blogPostTitle {
    text-decoration: underline;
  }

  @include onHoverAndFocus {
    .blogPostTitle {
      color: var(--link);
    }
  }
}

.blogArticleTags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  flex: 1;
}

.blogArticleMeta {
  margin-top: 4rem;

  time {
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.15em;
    font-weight: var(--font-weight-medium);
    font-family: var(--type-paragraph);
    color: var(--text-contrast-8);
  }
}

.blogPostTitle {
  font-family: var(--type-paragraph);
  line-height: 160%;
  font-size: 2.2rem;
}
