@import "~styles/modules/mixins.scss";
@import "~styles/modules/variables.scss";
@import "~styles/modules/placeholders.scss";

.landingProjects {
  --projects-per-row: 2;
  --project-radius: 0.4rem;
  margin-top: 8vh;
  margin-bottom: 8vh;
  max-width: 140rem;
  border-top: 1px solid var(--divider);
  border-bottom: 1px solid var(--divider);
  padding: 4rem 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: var(--project-gap);

  @include breakpoint(0, 859.98) {
    --project-gap: 1.6rem;
  }

  @include breakpoint(860) {
    --project-gap: 3.2rem;
  }
}

.landingProject {
  position: relative;
  display: flex;
  border-radius: var(--project-radius);
  transform: translateY(0);
  transition: transform 250ms ease;

  @include breakpoint(0, 399.98) {
    gap: 8px;
  }

  @include breakpoint(400) {
    gap: 1.6rem;
    padding: 1.6rem;
  }

  @include breakpoint(0, 779.98) {
    align-items: flex-start;
    flex-direction: column;
  }

  @include breakpoint(780) {
    align-items: center;
  }

  @include onHoverAndFocus {
    transform: translateY(-2.5%) !important;
    background-color: var(--bg-contrast-8);
    border-radius: var(--project-radius);
    box-shadow: 0px 1rem 1rem 0px rgba(176, 181, 244, 0.1);

    @media (prefers-color-scheme: dark) {
      box-shadow: none;
    }

    a {
      color: var(--primary);

      svg {
        path[data-layer="background"] {
          fill: var(--arrow-pointer-color-hover);
          fill-opacity: 0.4;
        }

        g[data-layer="arrow"] {
          transform: translate(1.2em, -1.2em);

          path {
            fill: var(--arrow-pointer-color-hover);
          }
        }
      }
    }
  }

  & > *:not(.landingProjectLink) {
    position: relative;
    z-index: 2;
  }

  &:nth-of-type(1) {
    .landingProjectImg {
      background-color: #D1D3FF;
      background-image: url("~assets/homepage/landing-projectImg1.svg");
    }
  }

  &:nth-of-type(2) {
    .landingProjectImg {
      background-color: #e0e8ff;
      background-image: url("~assets/homepage/landing-projectImg3.svg");
    }
  }

  &:nth-of-type(3) {
    .landingProjectImg {
      background-color: #7fb3b1;
      background-image: url("~assets/homepage/landing-projectImg2.jpg");
    }
  }

  &:nth-of-type(4) {
    .landingProjectImg {
      background-color: #222427;
      background-image: url("~assets/homepage/landing-projectImg4.svg");
    }
  }

  dt {
    @include breakpoint(860, 1199.99) {
      font-size: 1.8rem;
    }

    @include breakpoint(desktop) {
      font-size: 2.2rem;
    }

    a {
      --arrow-pointer-color: var(--text-contrast-10);
      --arrow-pointer-color-hover: var(--primary);

      color: var(--text-contrast-10);
    }

    @include breakpoint(1630) {
      font-size: 4rem;
    }
  }

  dd {
    margin-top: 0.8rem;
    color: var(--text-contrast-8);

    @include breakpoint(0, 859.98) {
      font-size: 1.6rem;
    }

    @include breakpoint(860) {
      font-size: 1.8rem;
    }
  }
}

.landingProjectImg {
  background: #e0e8ff;
  border-radius: calc(#{var(--project-radius)} / 2);
  background-size: cover;
  background-position: center center;
  pointer-events: none;

  @include breakpoint(0, 399.98) {
    width: 100%;
    padding-bottom: 100%;
  }

  @include breakpoint(400, 539.98) {
    width: 14rem;
    height: 14rem;
  }

  @include breakpoint(540, 779.98) {
    width: 100%;
    height: 16rem;
  }

  @include breakpoint(780) {
    width: 8rem;
    height: 8rem;
  }
}

.landingProjectLink {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 1;
}

.landingProjectDescription {
  a {
    --arrow-pointer-color: var(--text-contrast-10);
    --arrow-pointer-color-hover: var(--primary);

    color: var(--text-contrast-10);

    @include breakpoint(860, 1199.99) {
      font-size: 1.8rem;
    }

    @include breakpoint(desktop) {
      font-size: 2.2rem;
    }
  }

  p {
    clear: both;
    color: var(--text-contrast-8);

    @include breakpoint(0, 859.98) {
      font-size: 1.6rem;
    }

    @include breakpoint(860) {
      font-size: 1.8rem;
    }
  }
}
