@import "~styles/modules/mixins.scss";

// Music

.music {
  border: 1px solid var(--card-border-color);
  border-radius: var(--card-border-radius);
  background-color: var(--card-bg-color);
  padding: var(--content-padding);
  position: relative;

  display: flex;
  align-items: center;
  gap: 16px;

  @include breakpoint(0, 999.99) {
    margin-top: 6.4rem;
    padding-top: 24px;
  }

  @include breakpoint(1000) {
    padding-top: 32px;
  }

  &::before {
    content: "listening to (probably)";
    color: var(--white);
    font-weight: var(--font-weight-medium);
    font-size: 1.2rem;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    background: var(--fun-gradient);
    box-shadow: 0 0 0 1px var(card-border-color);
    border-radius: 20px;
    padding: 6px 20px;
    position: absolute;
    top: 0;

    @include breakpoint(0, 999.99) {
      left: 50%;
      transform: translate(-50%, -50%);
      width: max-content;
    }

    @include breakpoint(1000) {
      transform: translateY(-50%);
    }
  }

  h2 {
    margin: 0 0 8px 0;
    font-size: 2rem;
    color: var(--primary);
  }

  h2,
  p {
    grid-column: 2;
  }

  p {
    line-height: 120% !important;

    @include breakpoint(0, 1199.99) {
      font-size: 1.4rem !important;
    }
  }
}

.albumCover {
  border-radius: var(--card-border-radius);
  width: var(--album-cover-size);
  min-width: var(--album-cover-size);
  height: var(--album-cover-size);
  border-radius: 4px;

  @include breakpoint(0, 999.99) {
    --album-cover-size: 64px;
  }

  @include breakpoint(1000) {
    --album-cover-size: 80px;
  }
}
