@import "~styles/modules/mixins.scss";
@import "~styles/modules/placeholders.scss";

.blog {
  color: var(--text);

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  h1,
  h2 {
    font-family: var(--type-serif);
  }

  h1 {
    @include breakpoint(0, 859.98) {
      margin-bottom: 4rem;
      font-size: 2.4rem;
    }

    @include breakpoint(860) {
      margin-bottom: 6.4rem;
      font-size: 2.8vw;
    }
  }

  h2 {
    @include breakpoint(860) {
      font-size: 2.2vw;
    }

    @include breakpoint(0, 859.98) {
      font-size: 2.2rem;
    }

    a {
      border-bottom: 0.08em solid currentColor;
    }
  }

  p,
  li {
    font-family: var(--type-paragraph);
    font-weight: var(--font-weight-regular);
    font-size: 1.8rem;
  }

  p {
    line-height: 160%;
  }
}

.blogArticleMeta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  & > p {
    flex: 1;
  }

  & > p {
    font-family: var(--type-serif);
  }

  p {
    color: var(--text-light);
    margin: 0;

    a {
      --underline-color: currentColor;
      @extend %link-with-underline;
      border-bottom: 0.05em solid currentColor;
      padding: 0.05em 0.1em 0.1em 0.1em;

      &::after {
        height: 0.05em;
      }

      @include onHoverAndFocus {
        background-color: var(--blue-bg);
        color: #006adc;
        border-bottom-color: var(--blue);

        &::after {
          opacity: 1;
        }
      }
    }
  }
}
