@import "~styles/modules/mixins.scss";

.blogPage {
  --content-padding-inline: calc((100vw - #{var(--max-text-width)}) / 2);

  padding: var(--content-padding-top) var(--content-padding-inline)
    calc(var(--nav-button-height) + (var(--nav-button-margin) * 2))
    var(--content-padding-inline);
  // Also theme-color in index.html
  background-color: var(--bg-level-0);
  min-height: 100%;
  position: relative;

  @include breakpoint(desktop) {
    --max-text-width: 80rem;
  }
}
