@import "~styles/modules/mixins.scss";
@import "~styles/modules/placeholders.scss";

.blog {
  color: var(--text);

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  h1,
  h2 {
    font-family: var(--type-serif);
  }

  h1 {
    font-size: clamp(2.4rem, 6.8vw, 4rem);
    font-weight: var(--font-weight-regular);
    padding-bottom: clamp(4rem, 12vh, 6.4rem);
  }

  h2 {
    font-weight: var(--font-weight-medium);
    font-size: clamp(2rem, 4vw, 2.8rem);

    a {
      border-bottom: 0.08em solid currentColor;
    }
  }

  p,
  li {
    font-family: var(--type-paragraph);
    font-weight: var(--font-weight-regular);
    font-size: 1.8rem;
  }

  p {
    line-height: 160%;
  }
}

.blogArticleMeta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  & > p {
    flex: 1;
  }

  & > p {
    font-family: var(--type-serif);
  }

  p {
    color: var(--text-light);
    margin: 0;

    a {
      --underline-color: currentColor;
      @extend %link-with-underline;
      border-bottom: 0.05em solid currentColor;
      padding: 0.05em 0.1em 0.1em 0.1em;

      &::after {
        height: 0.05em;
      }

      @include onHoverAndFocus {
        background-color: var(--blue-bg);
        color: #006adc;
        border-bottom-color: var(--blue);

        &::after {
          opacity: 1;
        }
      }
    }
  }
}

.blogIndexTitle {
  border-bottom: 2px solid var(--light-gray);

  @include breakpoint(400) {
    padding: 0 1.6rem;
  }

  span {
    color: var(--text-light);
  }
}

.blogPost {
  @include breakpoint(0, 399.98) {
    padding: 1.6rem 0;
  }

  @include breakpoint(400) {
    padding: 3.2rem 1.6rem;
  }
}

.newTabLink {
  --arrow-bg-color: rgba(0, 106, 220, 0.3);
  --arrow-pointer-color: var(--blue);
  --arrow-bg-color-hover: rgba(0, 106, 220, 0.3);
  --arrow-pointer-color-hover: var(--blue);
}
