@import "~styles/modules/mixins.scss";
@import "~styles/modules/placeholders.scss";

.header {
  padding-bottom: var(--content-padding-top);
  margin-bottom: var(--content-padding-top);
  position: relative;

  h1 {
    padding-top: var(--content-padding-top);
    padding-bottom: calc(var(--content-padding-top) * 0.3);
  }

  &::after {
    content: "";
    display: block;
    width: 100vw;
    height: 2px;
    background-color: var(--bg-level-1);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.titleOrnament {
  color: var(--link);
  font-size: 0.6em;
  // line-height: 1.8em;
  margin-right: 0.5em;
}

.blogArticle {
  pre {
    position: relative;
    width: 100%;
    padding: 1.2rem 1.6rem;
    border-radius: 0 0 0.4rem 0.4rem;
    color: var(--text-contrast-8);
    min-height: 8rem;

    code {
      @include breakpoint(0, 1199.98) {
        font-size: 1.4rem;
      }

      @include breakpoint(1200) {
        font-size: 1.6rem;
      }
    }
  }

  p,
  li {
    code {
      background-color: var(--bg-level-1);
      padding: 0.2rem 0.4rem;
    }
  }

  p,
  pre,
  ul,
  .codeTabs,
  div,
  table {
    & + h2 {
      margin-top: 6.4rem;
    }
  }

  p {
    & + pre,
    & + .codeTabs {
      margin-top: 2rem;
    }
  }

  .codeTab {
    p {
      & + pre {
        margin-top: 1.2rem;
      }
    }
  }

  ul {
    & + p {
      margin-top: 1.6rem;
    }
  }
}

.blogArticleNav {
  display: flex;
  gap: 1.6rem;
  margin-top: var(--content-padding-top);
  border-top: 2px solid var(--bg-level-1);
  padding-top: 4rem;
}

.blogArticleNavLink {
  flex: 1;

  &:nth-of-type(2) {
    text-align: right;
  }

  a {
    margin: 0.8rem 0;
    font-family: var(--type-header);
    font-weight: var(--font-weight-medium);
    color: var(--link);

    background-image: linear-gradient(
      to right,
      var(--link) 50%,
      rgba(var(--link-rgb), 0.15) 50%
    );
    background-size: 200% 0.1em;
    background-position: 100% bottom;
    background-repeat: no-repeat;
    transition: all 250ms ease;

    @include onHoverAndFocus {
      background-position: 0% bottom;
      color: var(--link);
    }

    @include breakpoint(0, 859.98) {
      font-size: 2.2rem;
    }

    @include breakpoint(860) {
      font-size: 2vw;
    }
  }
}

.tags {
  p,
  ul {
    display: inline;
  }
}

$breadcrumb-gap: 4px;

.breadcrumbs {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: $breadcrumb-gap;

  li {
    font-size: 1.6rem;

    &:not(:first-of-type) {
      &::before {
        content: "/";
        margin-right: $breadcrumb-gap;
      }
    }
  }

  a {
    font-weight: var(--font-weight-regular);
    color: var(--text-contrast-8);
    text-decoration: underline;
    text-underline-offset: var(--link-underline-offset);
    text-decoration-color: rgba(var(--text-contrast-8-rgb), 0.4);
    text-decoration-thickness: 0.08em;

    @include onHoverAndFocus {
      color: var(--link);
      text-decoration-color: var(--link);
    }
  }
}
