@import "~styles/modules/mixins.scss";
@import "~styles/modules/placeholders.scss";

.blogArticleMeta {
  margin-bottom: var(--content-padding-top);
}

.blogArticle {
  h1 {
    text-align: center;
  }

  pre {
    position: relative;
    width: 100%;
    padding: 1.2rem 1.6rem;
    border-radius: 0 0 0.4rem 0.4rem;
    color: var(--text-contrast-8);
    min-height: 8rem;

    code {
      @include breakpoint(0, 1199.98) {
        font-size: 1.4rem;
      }

      @include breakpoint(1200) {
        font-size: 1.6rem;
      }
    }
  }

  p,
  li {
    code {
      background-color: var(--bg-level-1);
      padding: 0.2rem 0.4rem;
    }
  }

  p,
  pre,
  ul,
  .codeTabs,
  div,
  table {
    & + h2 {
      margin-top: 6.4rem;
    }
  }

  p {
    & + pre,
    & + .codeTabs {
      margin-top: 2rem;
    }
  }

  .codeTab {
    p {
      & + pre {
        margin-top: 1.2rem;
      }
    }
  }

  ul {
    & + p {
      margin-top: 1.6rem;
    }
  }
}

.blogArticleNav {
  display: flex;
  gap: 1.6rem;
  margin-top: var(--content-padding-top);
  border-top: 2px solid var(--bg-level-1);
  padding-top: 4rem;
}

.blogArticleNavLink {
  flex: 1;

  &:nth-of-type(2) {
    text-align: right;
  }

  a {
    margin: 0.8rem 0;
    font-family: var(--type-serif);
    font-weight: var(--font-weight-medium);
    color: var(--link);

    background-image: linear-gradient(
      to right,
      var(--link) 50%,
      rgba(var(--link-rgb), 0.15) 50%
    );
    background-size: 200% 0.1em;
    background-position: 100% bottom;
    background-repeat: no-repeat;
    transition: all 250ms ease;

    @include onHoverAndFocus {
      background-position: 0% bottom;
      color: var(--link);
    }

    @include breakpoint(0, 859.98) {
      font-size: 2.2rem;
    }

    @include breakpoint(860) {
      font-size: 2vw;
    }
  }
}

// .codeSnippetPill {
//   position: absolute;
//   right: 0.8rem;
//   top: 0.8rem;
// }

$breadcrumb-gap: 4px;

.breadcrumbs {
  color: var(--text-contrast-8);
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: $breadcrumb-gap;

  li {
    font-family: var(--type-serif);

    &:not(:first-of-type) {
      &::before {
        content: "/";
        margin-right: $breadcrumb-gap;
      }
    }
  }

  a {
    --underline-color: currentColor;
    @extend %link-with-underline;
    border-bottom: 0.05em solid currentColor;
    padding: 0.05em 0.1em 0.1em 0.1em;

    &::after {
      height: 0.05em;
    }

    @include onHoverAndFocus {
      background-color: var(--blue-bg);
      color: var(--blue);
      border-bottom-color: var(--blue);

      &::after {
        opacity: 1;
      }
    }
  }
}
