@import "~styles/modules/placeholders.scss";

.skipToContentLink {
  @extend %landing-paragraph;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.8rem 1.6rem;

  color: var(--white);
  background-color: var(--link);
  font-size: 1.4rem;
  line-height: auto;
  border-bottom-right-radius: 0.4rem;
  z-index: 200;
  transition: all 250ms ease-out;
  transform: translateY(-100%);
  opacity: 0;

  &:focus {
    transform: translateY(0);
    opacity: 1;
  }
}
