@import "~styles/modules/mixins.scss";
@import "~styles/modules/placeholders.scss";

.blogArticleMeta {
  margin-bottom: 20vh;
}

.blogArticle {
  h1 {
    text-align: center;
  }

  h1,
  h2 {
    font-weight: var(--font-weight-medium);
  }

  pre {
    position: relative;
    width: 100%;
    // max-width: max-content;
    padding: 1.2rem 1.6rem;
    border-radius: 0 0 0.4rem 0.4rem;
    color: var(--text-light);

    code {
      @include breakpoint(0, 1199.98) {
        font-size: 1.4rem;
      }

      @include breakpoint(1200) {
        font-size: 1.6rem;
      }
    }
  }

  p,
  li {
    code {
      background-color: var(--light-gray);
      padding: 0.2rem 0.4rem;
    }
  }

  p,
  pre,
  ul,
  .codeTabs,
  div,
  table {
    & + h2 {
      margin-top: 6.4rem;
    }
  }

  p {
    & + pre,
    & + .codeTabs {
      margin-top: 2rem;
    }
  }

  .codeTab {
    p {
      & + pre {
        margin-top: 1.2rem;
      }
    }
  }

  ul {
    & + p {
      margin-top: 1.6rem;
    }
  }

  .codeTabs {
    @include breakpoint(800) {
      display: flex;
      gap: 0.8rem;
    }

    .codeTab {
      flex: 1;
    }
  }
}

.blogArticleNav {
  display: flex;
  margin-top: 8rem;
  gap: 1.6rem;
}

.blogArticleNavLink {
  flex: 1;

  &:nth-of-type(2) {
    text-align: right;
  }

  h2 {
    margin: 0.8rem 0;
  }

  a {
    @include onHoverAndFocus {
      color: var(--link);
    }
  }
}

// .codeSnippetPill {
//   position: absolute;
//   right: 0.8rem;
//   top: 0.8rem;
// }

.newTabLink {
  --arrow-bg-color: rgba(0, 106, 220, 0.3);
  --arrow-pointer-color: var(--blue);
  --arrow-bg-color-hover: #f8c0d8;
  --arrow-pointer-color-hover: var(--blue);
}
