@import "~styles/modules/mixins.scss";
@import "~styles/modules/placeholders.scss";

.markdown {
  // TODO improve these styles
  // p:first-of-type {
  //   &::first-letter {
  //     font-family: var(--type-header);
  //     float: left;
  //     font-size: 6rem;
  //     line-height: 0.65;
  //     margin: 0.1em 0.15em 0.2em 0;
  //   }
  // }

  h2 {
    margin-top: 6.4rem;
  }

  pre {
    margin-bottom: 2.4em;
  }

  & > p,
  & > ol,
  & > ul {
    margin-bottom: 1.6em;

    li + li {
      margin-top: 0.5em;
    }
  }

  p,
  li {
    // Inline code
    code {
      background-color: var(--bg-level-1);
      padding: 0.2rem 0.4rem;
    }
  }

  p + pre {
    // If the code doesn't have tabs, round the upper corners
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
  }

  a {
    @extend %link-with-background;
  }

  code {
    font-family: var(--type-code);
    line-height: 160%;

    .comment {
      color: var(--myqr-gray-400);
      display: block;
      margin-bottom: 1.2rem;
    }

    .highlighted {
      color: var(--myqr-primary);
    }
  }

  kbd {
    border-radius: 4px;
    border: 1px solid rgba(var(--text-contrast-8-rgb), 0.1);
    background: linear-gradient(
        180deg,
        rgba(var(--text-contrast-8-rgb), 0.044) 6.34%,
        rgba(var(--text-contrast-8-rgb), 0) 30.14%,
        rgba(var(--text-contrast-8-rgb), 0) 59.23%,
        rgba(var(--text-contrast-8-rgb), 0.049) 100%
      ),
      var(--bg-contrast-8);
    color: var(--text-contrast-10);
    font-family: var(--type-code);
    font-size: 1em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
    box-shadow: 1px 1px 0px 0px rgba(var(--text-contrast-8-rgb), 0.2);
  }

  & > ul {
    list-style-type: disc;
  }

  & > ol {
    list-style: none;
    counter-reset: custom-counter;

    li {
      counter-increment: custom-counter;

      &::before {
        display: inline-flex;
        margin-right: 0.6em;
        align-items: center;
        justify-content: center;
        font-size: 0.7em;
        font-weight: var(--font-weight-semibold);
        line-height: 1;
        min-width: 2rem;
        min-height: 2rem;
        content: counter(custom-counter);
        border: 1px solid var(--primary);
        color: var(--primary);
        border-radius: 50%;
        transform: translateY(-0.2em);
      }
    }
  }

  table {
    width: 100%;
    max-width: max-content;
    font-family: var(--type-paragraph);
    font-size: 1.6rem;

    thead tr,
    tbody tr:not(:last-of-type) {
      border-bottom: 1px solid var(--bg-level-1);
    }

    th,
    td {
      padding: 0.8rem;

      &:not(:last-of-type) {
        border-right: 1px solid var(--bg-level-1);
      }
    }

    tr:nth-of-type(even) {
      background-color: var(--bg-level-1);
    }
  }
}
