@import "~styles/modules/mixins.scss";

.projectFiles {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.projectFile {
  width: 100%;
  overflow: hidden;

  background: var(--bg-level-1)
    url("data:image/svg+xml,%3Csvg version='1.1' id='L4' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 52 100' enable-background='new 0 0 52 0' xml:space='preserve'%3E%3Ccircle fill='%23d7d7d7' stroke='none' cx='6' cy='50' r='6'%3E%3Canimate attributeName='opacity' dur='1s' values='0;1;0' repeatCount='indefinite' begin='0.1'/%3E%3C/circle%3E%3Ccircle fill='%23d7d7d7' stroke='none' cx='26' cy='50' r='6'%3E%3Canimate attributeName='opacity' dur='1s' values='0;1;0' repeatCount='indefinite' begin='0.2'/%3E%3C/circle%3E%3Ccircle fill='%23d7d7d7' stroke='none' cx='46' cy='50' r='6'%3E%3Canimate attributeName='opacity' dur='1s' values='0;1;0' repeatCount='indefinite' begin='0.3'/%3E%3C/circle%3E%3C/svg%3E")
    no-repeat center;
  background-size: min(30%, 8rem) auto;

  img {
    color: transparent;
    width: 100%;
    height: auto;
  }
}

.projectFooter {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  a {
    font-size: 2.4rem;

    @include onHoverAndFocus {
      color: var(--bg-level-1);
      background-color: var(--primary);
      outline: 2px solid var(--primary);
    }
  }
}
