@import "~styles/modules/mixins.scss";

.projectFiles {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.projectFile {
  width: 100%;
  overflow: hidden;
 
  img {
    color: transparent;
    width: 100%;
    height: auto;
    transform: scale(1.05);
    transform-origin: 50% 50%;
  }
}

.projectFooter {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  a {
    font-size: 2.4rem;

    @include onHoverAndFocus {
      color: var(--homepage-bg);
      background-color: var(--primary);
      outline: 2px solid var(--primary);
    }
  }
}
