@import "~styles/modules/mixins.scss";
@import "~styles/modules/placeholders.scss";

.page-blog {
  --content-padding-inline: calc((100vw - #{var(--max-text-width)}) / 2);

  padding: var(--content-padding-top) var(--content-padding-inline)
    calc(var(--nav-button-height) + (var(--nav-button-margin) * 2))
    var(--content-padding-inline);
  // Also theme-color in index.html
  background-color: var(--bg-level-0);
  min-height: 100%;
  position: relative;

  @include breakpoint(desktop) {
    --max-text-width: 80rem;
  }

  p a {
    @extend %link-with-background;
  }
}

.page-error {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: calc((100vw - var(--max-text-width)) / 2);
  padding-right: calc((100vw - var(--max-text-width)) / 2);

  h1 {
    font-family: var(--type-header);
    font-weight: var(--font-weight-medium);
    margin-bottom: 0.8rem;
    margin-top: 0;
  }

  p {
    margin-bottom: 4rem;

    a {
      @extend %link-with-background;
    }
  }

  h1,
  p {
    @include breakpoint(0, 519.98) {
      min-width: 100%;
    }

    @include breakpoint(520) {
      text-align: center;
    }
  }
}
