@import "~styles/modules/mixins.scss";

.pills li {
  display: inline;

  &:not(:first-of-type) {
    &::before {
      content: ", ";
      margin-right: 0.05em;
    }
  }
}

a.pill {
  text-decoration: underline;
  text-underline-offset: var(--primary-underline-offset);
  text-decoration-thickness: 0.07em;
  text-decoration-color: rgba(var(--text-contrast-8-rgb), 0.4);
  color: var(--text-contrast-10);

  @include onHoverAndFocus {
    color: var(--primary);
    text-decoration-color: var(--primary);
  }
}
