@import "~styles/modules/mixins.scss";
@import "~styles/modules/placeholders.scss";

$link-hover-gradient: linear-gradient(125deg, var(--link), var(--link-sm));

.screenReaderLink {
  color: var(--link);
  position: relative;
  cursor: pointer;

  .screenReaderLinkText {
    --underline-color: #{$link-hover-gradient};
    @extend %link-with-underline;
    pointer-events: none;
    font-style: italic;
    font-family: var(--type-italic);
    font-weight: var(--font-weight-medium);
    font-size: 1.2em;
    line-height: calc(100 / 120 * 1em);

    &::after {
      height: 0.07em;
    }
  }

  @include onHoverAndTouch {
    .screenReaderLinkText {
      background: $link-hover-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &::after {
        opacity: 1;
      }
    }
  }

  a {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    overflow: hidden;
    opacity: 0;
    @include removeFocusOutline;

    @include onFocus {
      & + .screenReaderLinkText {
        background: $link-hover-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &::after {
          opacity: 1;
        }
      }
    }
  }
}
