@import "~styles/modules/mixins.scss";

.newTabLink {
  svg {
    width: 0.8em;
    height: auto;
    margin-top: -0.2em;
    margin-left: 0.2em;

    path[data-layer="background"] {
      fill: var(--arrow-pointer-color);
      fill-opacity: 0.2;
    }

    g[data-layer="arrow"] {
      transition: 0.2s transform ease;
      transform: translate(0, 0);
      will-change: transform;

      path {
        fill: var(--arrow-pointer-color);
      }
    }
  }

  span:last-of-type {
    white-space: nowrap;
  }

  @include onHoverAndTouch {
    svg {
      g[data-layer="arrow"] {
        transform: translate(1.2em, -1.2em);
      }
    }
  }

  @include onFocus {
    color: var(--arrow-pointer-color-hover);

    svg {
      path[data-layer="background"] {
        fill: var(--arrow-pointer-color-hover);
        fill-opacity: 0.4;
      }

      g[data-layer="arrow"] {
        transform: translate(1.2em, -1.2em);

        path {
          fill: var(--arrow-pointer-color-hover);
        }
      }
    }
  }
}
