@import "~styles/modules/mixins.scss";
@import "~styles/modules/placeholders.scss";

.codeWrapper {
  position: relative;

  &:hover {
    // Show copy to clipboard button

    button {
      opacity: 1;
    }
  }

  pre {
    width: 100%;
    padding: 1.2rem 1.6rem;
    border-radius: 0.4rem;
    background-color: var(--code-bg-color);
    color: var(--text-contrast-8);
    min-height: 8rem;

    code {
      color: var(--code-color);

      @include breakpoint(0, 1199.98) {
        font-size: 1.4rem;
      }

      @include breakpoint(desktop) {
        font-size: 1.6rem;
      }
    }
  }
}

.codeHeader {
  background-color: #21222c;
  border-radius: 0.4rem 0.4rem 0 0;
  display: flex;
  gap: 1px;
  margin: 2em 0 0 0;

  & > p,
  button {
    font-size: 1.4rem;
    color: #f8f8f2;
    background-color: #343746;
    font-family: var(--type-code);
    line-height: 160%;

    border-radius: inherit;
    border-width: 0;
    padding: 0.4rem 1.6rem;
    margin: 0;
  }

  & + .codeWrapper pre {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
