@import "~styles/modules/mixins.scss";
@import "~styles/modules/placeholders.scss";

.codeWrapper {
  position: relative;

  &:hover {
    // Show copy to clipboard button

    button {
      opacity: 1;
    }
  }

  pre {
    position: relative;
    width: 100%;
    padding: 1.2rem 1.6rem;
    border-radius: 0.4rem;
    // background-color: var(--code-bg-color);
    background-color: var(--bg-level-0);
    color: var(--text-contrast-10);
    border: 1px solid var(--text-contrast-10);
    box-shadow: 4px 4px 0px 0px var(--text-contrast-10);
    min-height: 8rem;
    z-index: 2;

    code {
      color: var(--code-color);
    }
  }
}
