@import "~components/snippets/variables.scss";
@import "~styles/modules/mixins.scss";

.codeBlockNav {
  list-style-type: none;

  & > li {
    border-radius: inherit;
  }

  button {
    cursor: pointer;
    @include removeFocusOutline;

    &[aria-selected="true"] {
      border-bottom: 1px solid $code-blue;
      color: $code-blue;
    }

    @include onKeyboardFocus {
      background-color: var(--blue-bg);
      color: var(--blue);
    }
  }
}

.tabs {
  // Hide non active tabs
  @for $i from 1 through 6 {
    &[data-active-tab-index="#{$i}"] {
      div[role="tabpanel"]:not(:nth-of-type(#{$i})) {
        display: none;
      }
    }
  }
}
