.selector {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-top: clamp(24px, 5vh, 6.4rem);
}

.value {
  font-size: 1.8rem;
  font-family: var(--font-code);
  border-width: 0;
  border-radius: 0.2rem;
  cursor: pointer;
  padding: 4px 12px;

  &[data-selected="false"] {
    background-color: var(--bg-level-1);
    color: var(--text-contrast-10);
  }

  &[data-selected="true"] {
    background-color: var(--pink-bg);
    color: var(--pink);
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0px 0px 0px 2px var(--pink);
    color: var(--pink);
  }
}
