@import "~styles/modules/mixins.scss";

.errorPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: calc((100vw - var(--max-text-width)) / 2);
  padding-right: calc((100vw - var(--max-text-width)) / 2);

  h1 {
    font-family: var(--type-serif);
    font-weight: var(--font-weight-medium);
    margin-bottom: 0.8rem;
    margin-top: 0;
  }

  p {
    font-family: var(--type-paragraph);
    font-weight: var(--font-weight-regular);
    color: var(--text);
    font-size: 1.8rem;
    line-height: 160%;
    margin-bottom: 4rem;

    a {
      color: var(--link);
    }
  }

  h1,
  p {
    @include breakpoint(0, 519.98) {
      min-width: 100%;
    }

    @include breakpoint(520) {
      text-align: center;
    }
  }

  ul {
    @include breakpoint(0, 519.98) {
      min-width: 100%;
    }

    @include breakpoint(520) {
      align-items: center;
      justify-content: center;
    }

    li a {
      display: block;
    }
  }
}
