@import "~styles/modules/mixins.scss";
@import "~styles/modules/placeholders.scss";

.landingPage {
  @extend %grid-page;

  h1 {
    text-indent: 2em;
    font-weight: var(--font-weight-regular);
    margin-bottom: 4rem;

    @include breakpoint(860) {
      font-size: 2.8rem;
    }
  }

  ol,
  h1 {
    @include breakpoint(400) {
      padding: 0 1.6rem;
    }
  }

  h1,
  dt {
    @include breakpoint(0, 859.98) {
      /* Don't go lower for h1, otherwise the links wouldn't pass contrast requirements
      (Large text = 18.66px bold, 24px regular) */
      font-size: 2rem;
    }
  }

  abbr[title] {
    --underline-hover-color: var(--primary);
  }
}

.landingBlogNav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: var(--type-paragraph);

  h2 {
    font-weight: var(--font-weight-regular);
  }

  a {
    font-weight: var(--font-weight-medium);
    font-size: 1.6rem;
  }
}

.blogWrapper {
  display: grid;
  grid-gap: 0.8rem;
  grid-template-areas:
    "blogSectionTitle blogLink"
    "blogArticle blogArticle";
}

.landingBlogTitle {
  grid-area: blogSectionTitle;
  font-weight: var(--font-weight-regular);
  align-self: baseline;
  margin: 0;

  @include breakpoint(400) {
    padding-left: 1.6rem;
  }
}

.landingBlogLink {
  @extend %link-with-icon;

  grid-area: blogLink;
  font-family: var(--type-paragraph);
  font-weight: var(--font-weight-medium);
  font-size: 1.6rem;
  align-self: baseline;
  justify-self: flex-end;

  @include breakpoint(400) {
    padding-right: 1.6rem;
  }

  @include onKeyboardFocus {
    color: var(--primary);
  }
}

.landingBlogPost {
  grid-area: blogArticle;
}
