@import "~styles/modules/mixins.scss";
@import "~styles/modules/placeholders.scss";

$link-hover-gradient: linear-gradient(125deg, var(--link), var(--link-sm));

.landingPage {
  @extend %grid-page;

  h1 {
    @extend %landing-paragraph;

    @include breakpoint(860) {
      font-size: 3.2rem;
    }
  }

  ol,
  h1 {
    @include breakpoint(400) {
      padding: 0 1.6rem;
    }
  }

  h1,
  dt {
    @include breakpoint(0, 859.98) {
      /* Don't go lower for h1, otherwise the links wouldn't pass contrast requirements
      (Large text = 18.66px bold, 24px regular)
      Tbh this font could be considered bold but best to be safe */
      font-size: 2.4rem;
    }
  }

  abbr[title] {
    --underline-hover-color: var(--link);
  }
}

.landingBlogNav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: var(--type-paragraph);

  h2 {
    font-weight: var(--font-weight-regular);
  }

  a {
    font-weight: var(--font-weight-medium);
    font-size: 1.6rem;
  }
}

.blogWrapper {
  display: grid;
  grid-gap: 0.8rem;
  grid-template-areas:
    "blogSectionTitle blogLink"
    "blogArticle blogArticle";
}

.landingBlogTitle {
  grid-area: blogSectionTitle;
  font-weight: var(--font-weight-regular);
  align-self: baseline;
  margin: 0;

  @include breakpoint(400) {
    padding-left: 1.6rem;
  }
}

.landingBlogLink {
  @extend %link-with-icon;

  grid-area: blogLink;
  font-family: var(--type-paragraph);
  font-weight: var(--font-weight-medium);
  font-size: 1.6rem;
  align-self: baseline;
  justify-self: flex-end;

  @include breakpoint(400) {
    padding-right: 1.6rem;
  }

  @include onKeyboardFocus {
    color: var(--link);
  }
}

.landingBlogPost {
  grid-area: blogArticle;
}
