@import "~styles/modules/mixins.scss";
@import "~styles/modules/placeholders.scss";

.landingPage {
  --landing-padding-sides: 6vw;
  --projects-gap: clamp(4rem, 12vh, 6.4rem);

  padding-top: var(--content-padding-top);
  padding-bottom: calc(
    var(--nav-button-height) + (var(--nav-button-margin) * 2)
  );

  min-height: 100%;
  // Also theme-color in document head
  background-color: var(--homepage-bg);
  display: grid;
  grid-template-columns: 1fr var(--max-text-width) 1fr;
  grid-template-rows: max-content auto;

  & > *:not(footer) {
    grid-column: 2;
  }
}

.landingBlogNav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: var(--type-paragraph);

  h2 {
    font-weight: var(--font-weight-regular);
  }

  a {
    font-weight: var(--font-weight-medium);
    font-size: 1.6rem;
  }
}

.landingBlogLink {
  @extend %link-with-icon;

  grid-area: blogLink;
  font-family: var(--type-paragraph);
  font-weight: var(--font-weight-medium);
  font-size: 1.6rem;
  align-self: baseline;
  justify-self: flex-end;

  @include breakpoint(400) {
    padding-right: 1.6rem;
  }

  @include onKeyboardFocus {
    color: var(--primary);
  }
}
