.skipToContentLink {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  padding: 0.8rem 1.6rem;

  color: var(--white);
  background-color: var(--link);
  border-bottom-right-radius: 4px;
  font-weight: var(--font-weight-medium);
  font-size: 1.4rem;
  line-height: auto;
  transition: all 250ms ease-out;
  transform: translateY(-100%);
  opacity: 0;

  &:focus {
    transform: translateY(0);
    opacity: 1;
  }
}
